@using ETrade.Presentation.Areas.Admin.Models
@model ProductListViewModel
@{
    Layout = "_Layout";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product Transactions</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Product Transactions</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Product List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        
                                        <th>Id</th>
                                        <th>Images</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>SeoName</th>
                                        <th>Counter</th>
                                        <th>Transactions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Products)
                                    {
                                    <tr>


                                        @if (Model.ProductImages.Any(x => x.ProductId == item.Id))
                                        {
                                            <td>@item.Id</td>
                                            <td><img width="150" src="/products/@Model.ProductImages.FirstOrDefault(x=>x.ProductId ==item.Id).Name" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.Description</td>
                                            <td>@item.Status</td>
                                            <td>@item.SeoName</td>
                                            <td>@item.Counter</td>
                                            <td>
                                                <a href="/admin/product/ProductDelete/@item.Id">Delete</a> |
                                                <a href="/admin/product/ProductEdit/@item.Id">Edit</a>
                                                <a href="/admin/product/Images/@item.Id">Images</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@item.Id</td>
                                            <td><img width="150" src=""></td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>@item.Description</td>
                                            <td>@item.Status</td>
                                            <td>@item.SeoName</td>
                                            <td>@item.Counter</td>
                                            <td>
                                                <a href="/admin/product/ProductDelete/@item.Id">Delete</a> |
                                                <a href="/admin/product/ProductEdit/@item.Id">Edit</a>
                                                <a href="/admin/product/Images/@item.Id">Images</a>
                                            </td>
                                        }




                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Images</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>SeoName</th>
                                        <th>Counter</th>
                                        <th>Transactions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>