@using ETrade.Presentation.Areas.Admin.Models
@model UserTokensModel
@{
    Layout = "_Layout";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User Transactions</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Transactions</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Tokens List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>UserId</th>
                                        <th>TokenKey</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>İşlemler</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.userTokensModels)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.UserId</td>
                                            <td>@item.TokenKey</td>
                                            <td>@item.CreateDate</td>
                                            <td>@item.Status</td>                                                                                       
                                            <td><a href="/admin/user/DeleteUserToken/@item.Id">Sil</a></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>UserId</th>
                                        <th>TokenKey</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
